@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@500&display=swap");

/* <!-------- CSS Reset --------> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
}

body {
  font-family: "poppins", sans-serif;
}

.nav-item {
  padding-left: 1em;
  padding-right: 1em;
}

#hello {
  width: 100%;
  height: 100vh;
  background-image: url("images/image-geometry_1.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.header {
  width: 33%;
  height: 50%;
  margin: auto auto 190px 160px;
}
.a-flex {
  flex-direction: column;
}

.d-flex {
  padding-top: 200px;
  padding-bottom: 200px;
  gap: 65px;
  height: 100vh;
}

.pt-5 {
  padding-top: 5em !important;
}

#contact {
  width: 100%;
  background-image: url("images/image-geometry_6.svg"),
    url("images/image-geometry_7.svg");
  background-position: left top, right bottom + 100px;
  background-size: 20%, 20%;
  background-repeat: no-repeat;
}
.center {
  margin-top: 40px;
}

footer {
  margin-top: 65px;
}

#socialmedia {
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 20px;
  margin-top: 40px;
}

button a {
  padding: 20px 40px;
  color: #fff;
  text-decoration: none;
}

#language {
  background: #1c528a;
  border-style: none;
  width: 300px;
  padding: 20px 40px;
  margin-top: 20px;
}

#framework {
  background: #e2505c;
  border-style: none;
  width: 300px;
  padding: 20px 40px;
  margin-top: 20px;
}

#skill {
  background: #febf52;
  border-style: none;
  width: 300px;
  padding: 20px 40px;
  margin-top: 20px;
}
